header{
display: flex;
flex-direction: row;
gap: 5%;
flex-wrap: nowrap;
justify-content: flex-start;

}

body{
display: flex;
flex-direction:column;
align-items: center;
}

.kundvagn{
background-color: dodgerblue;
}